/* @font-face {
  font-family: "SFPro-Regular";
  src: url("./SFPRODISPLAYREGULAR.OTF") format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap !important;
}
*/
@font-face {
  font-family: "SFPro-Medium";
  src: url("./SFPRODISPLAYMEDIUM.OTF") format("opentype");
  font-weight: 500;
  font-style: normal;
    font-display: swap !important;
}  

@font-face {
  font-family: "SFPro-Bold";
  src: url("./SFPRODISPLAYBOLD.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap !important;
}

/* @font-face {
  font-family: "SFPro-SemiBoldItalic";
  src: url("./SFPRODISPLAYSEMIBOLDITALIC.OTF") format("opentype");
  font-weight: 600;
  font-style: italic;
   font-display: swap !important;
} */

@font-face {
  font-family: "Spectron";
  src: url("./Spectron-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
    font-display: swap !important;
}
