.payment-info-section {
  width: 100%;
  padding: 60px 20px;
  text-align: center;
  margin-top: 60px;
}

.payment-info-container {
  width: 100% !important;
  max-width: 900px;
  margin: auto;
}

.payment-heading {
  font-size: 42px;
  color: #ffffff;
  font-weight: 700;
  margin-bottom: 20px;
}

.payment-subtext {
  font-size: 18px;
  color: rgba(255,255,255,0.75);
  line-height: 1.6;
  max-width: 750px;
  margin: auto;
  margin-bottom: 50px;
  text-align: center !important;
}



