.details-container {
  max-width: 900px;
  margin: 0 auto;
  padding-top: 140px;
  padding-bottom: 60px;
  
  color: #fff;
}

.details-title {
  text-align: center;
  font-size: 34px;
  font-weight: 700;
  margin-bottom: 40px;
}

.details-section-heading {
  margin-top: 30px;
  margin-bottom: 10px;
  font-size: 20px;
  font-weight: 600;
}

/* GRID */
.details-grid {
    
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 18px;
  margin-bottom: 20px;
}

/* INPUTS */
.details-input {
  background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.45) 10%,
      rgba(255, 255, 255, 0.1) 80%,
      rgba(255, 255, 255, 0.22) 100%
    ),
    #1a0c2e;

  color: #ffffff;
  border: 1px solid rgba(255, 255, 255, 0.18);
  padding: 14px;
  border-radius: 10px;
  color: white;
  width: 100%;
}

.details-input::placeholder {
  color: gray;
}

/* CHECKBOXES */
.details-checkboxes {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 25px 0;
}

.details-checkbox {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 15px;
}

.details-checkbox input {
  width: 18px;
  height: 18px;
}

/* BUTTONS */
.details-buttons {
  display: flex;
  justify-content: flex-end;
  gap: 15px;
  margin-top: 20px;
}

.details-btn {
  padding: 12px 28px;
  border-radius: 30px;
  font-size: 15px;
  border: none;
  cursor: pointer;
  font-weight: 600;
}

.back-btn {
   font-family: "Spectron" !important;
  background: black;
  color: white;
}

.continue-btn {
  font-family: "Spectron" !important;
  background: #a56bfd;
  color: white;
}

.continue-btn:hover {
  background: #8c4df3;
}
