* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --goai-bg: #000106 !important;
}
html,body{
  background: var(--goai-bg) !important;
  overflow-x: hidden !important;
    background: var(--goai-bg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed; /* IMPORTANT for smooth continuous theme */
}
.hero-section, 
.mission-section, 
.pricing-section, 
.floating-orbs, 
.orb {
  overflow: hidden !important;
}
.space{
  margin-top: 50px;
}