footer{
      background:
    radial-gradient(circle at 80% 20%, rgba(156, 77, 255, 0.35) 0%, transparent 50%),
  
    radial-gradient(circle at 60% 50%, rgba(200, 59, 255, 0.25) 0%, transparent 55%),
    linear-gradient(135deg, #0d0114 0%, #050008 100%);
  background-attachment: fixed;
}
a{
    text-decoration: none !important;
}