footer{
      background:
    radial-gradient(circle at 80% 20%, rgba(156, 77, 255, 0.35) 0%, transparent 50%),
    radial-gradient(circle at 50% 80%, rgba(120, 40, 200, 0.25) 0%, transparent 45%),
    linear-gradient(135deg, #0a0a0a 0%, #000000 100%);
  background-attachment: fixed;
}
a{
    text-decoration: none !important;
}