.navbar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9999;
  background: transparent !important;  /* transparent navbar */
}
.logo{
height: 60px !important;
}
.navbar .nav-link {
  position: relative;
  color: white !important;
  font-weight: 600 !important;
  font-size: 22px;
  margin: 10px 40px;
  font-weight: 500;
  text-decoration: none;
  transition: color 0.3s ease; /* smooth color change */
}

/* Underline Animation */
.navbar .nav-link::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -5px;
  width: 100%;
  height: 3px;
  background-color: #9632DA;
  transform: translateX(-50%) scaleX(0);
  transform-origin: center;
  transition: transform 0.35s ease-out;
}

/* Hover: color + underline */
.navbar .nav-link:hover {
  color: #9632DA !important;
}

.navbar .nav-link:hover::after {
  transform: translateX(-50%) scaleX(1);
}



@media (max-width: 992px) {

  /* Make navbar background black when collapsed */
   .navbar{
    margin-top: 10px;
  }

  /* Logo spacing */
  .logo {
    height: 45px !important;
  }

  /* Purple toggle button */
  .navbar-toggler {
    border: none !important;
    outline: none !important;
  }

  /* Toggle icon color */
  .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='%23a020f0' class='bi bi-list' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M2.5 12.5a.5.5 0 0 1 0-1h11a.5.5 0 0 1 0 1h-11zm0-3a.5.5 0 0 1 0-1h11a.5.5 0 0 1 0 1h-11zm0-3a.5.5 0 0 1 0-1h11a.5.5 0 0 1 0 1h-11z'/%3E%3C/svg%3E");
  margin-left: -50px !important;

  }

  /* Collapsed menu background */
  .navbar-collapse {
    background: black !important;
    padding: 20px 10px;
  }

  /* Nav links inside collapsed menu */
  .navbar-collapse .nav-link {
    color: white !important;
    margin: 10px 0;
    font-size: 18px;
    text-align: start;
  }

  .navbar-collapse .nav-link:hover {
    color: #9632DA !important; /* Purple hover */
  }
}
