.navbar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9999;
  background: transparent !important;  /* transparent navbar */
}
.navbar .navbar-brand,
.navbar .nav-link {
  color: white !important;
  font-size: 20px;
 margin: 20px;
  font-weight: 500;
}

.navbar .nav-link:hover {
  color: #3BE4F0 !important; /* your Electric Aqua color */
}
