.navbar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9999;
  background: transparent !important;  /* transparent navbar */
}
.logo{
height: 50px !important;
}
.navbar ,
.navbar .nav-link {
  color: white !important;
  font-size: 20px;
 margin: 20px;
  font-weight: 500;
}

.navbar .nav-link:hover {
  color: #9632DA !important; /* your Electric Aqua color */
}
/* ===== MOBILE NAVBAR (max-width: 992px) ===== */
@media (max-width: 992px) {

  /* Make navbar background black when collapsed */
  .navbar {
    background: black !important;
  }

  /* Logo spacing */
  .logo {
    height: 45px !important;
  }

  /* Purple toggle button */
  .navbar-toggler {
    border: none !important;
    outline: none !important;
  }

  /* Toggle icon color */
  .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='%23a020f0' class='bi bi-list' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M2.5 12.5a.5.5 0 0 1 0-1h11a.5.5 0 0 1 0 1h-11zm0-3a.5.5 0 0 1 0-1h11a.5.5 0 0 1 0 1h-11zm0-3a.5.5 0 0 1 0-1h11a.5.5 0 0 1 0 1h-11z'/%3E%3C/svg%3E");
  margin-left: -50px !important;

  }

  /* Collapsed menu background */
  .navbar-collapse {
    background: black !important;
    padding: 20px 10px;
  }

  /* Nav links inside collapsed menu */
  .navbar-collapse .nav-link {
    color: white !important;
    margin: 10px 0;
    font-size: 18px;
    text-align: start;
  }

  .navbar-collapse .nav-link:hover {
    color: #9632DA !important; /* Purple hover */
  }
}
